body{
    font-family: 'Roboto', sans-serif;
    /* margin-top: 5rem;     */
    background-color: lightgray;
    padding-bottom: 70px;
}


img{
    height: 50%;
}

h1{
    font-size: 2rem;
    color: #2E2E2E;
}

h2{
    font-size: 1.5rem;
    margin-top: 1rem;
}

h3{
    font-size: 1rem;
}

h4{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


#blue{
    color: #0B5394;
}

#red{
    color: #C0433D;
}

#grey{
    color: #666666;
}

#navbar{
    background-color: #23272B;
    height: 55px;
}
